## 피보나치

In [ ]:
1 1 2 3 5 8 13 21 34 55

In [1]:
def fibo(x):
    if x == 1 or x == 2:
        return 1 
    
    return fibo(x-1) + fibo(x-2)

In [5]:
fibo(10)

55

### dp 적용

In [17]:
dp = [None for x in range(100)]

In [18]:
dp[1] = 1
dp[2] = 1

In [19]:
def fibo(x):
    
    answer = dp[x]
    if answer == None:
        answer = fibo(x-1) + fibo(x-2)
        dp[x] = answer
    return answer

## 배낭 문제

In [24]:
cargo = [(4,12),(2,1),(10,4),(1,1),(2,2)]

In [29]:
def zero_one_knapsack(cargo):
    capacity = 15
    pack = []
    
    for i in range(len(cargo)+1):
        pack.append([])
        for c in range(capacity + 1):
            if i ==0 or c == 0:
                pack[i].append(0)
            
            elif cargo[i-1][1] <= c:
                pack[i].append(
                max(
                    cargo[i-1][0] + pack[i-1][c-cargo[i-1][1]], 
                    pack[i-1][c]
                )
                )
            else:
                pack[i].append(pack[i-1][c])
    
    return pack

In [30]:
r = zero_one_knapsack(cargo)

In [31]:
r

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4],
 [0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 6, 6, 6],
 [0, 2, 2, 2, 10, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12],
 [0, 2, 3, 3, 10, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13],
 [0, 2, 3, 4, 10, 12, 13, 14, 15, 15, 15, 15, 15, 15, 15, 15]]

### 최대 서브배열

In [33]:
s = [-2,1,-3,4,-1,2,1,-5,4]

In [42]:
s = [1,-1,-2,-3,-4,10,-5,-6,-7,2]

In [43]:
def maxsub(nums):
    for i in range(1,len(nums)):
        nums[i] += nums[i-1] if nums[i-1] > 0 else 0 
        print(nums)
    
    return max(nums)

In [44]:
maxsub(s)

[1, 0, -2, -3, -4, 10, -5, -6, -7, 2]
[1, 0, -2, -3, -4, 10, -5, -6, -7, 2]
[1, 0, -2, -3, -4, 10, -5, -6, -7, 2]
[1, 0, -2, -3, -4, 10, -5, -6, -7, 2]
[1, 0, -2, -3, -4, 10, -5, -6, -7, 2]
[1, 0, -2, -3, -4, 10, 5, -6, -7, 2]
[1, 0, -2, -3, -4, 10, 5, -1, -7, 2]
[1, 0, -2, -3, -4, 10, 5, -1, -7, 2]
[1, 0, -2, -3, -4, 10, 5, -1, -7, 2]

10

## 계단오르기

In [68]:
possible = [None for x in range(10000)]

In [69]:
possible[1] = 1
possible[2] = 2

In [70]:
def hike(n):
    
    answer = possible[n]
    if answer == None:
        answer = hike(n-2) + hike(n-1)
        possible[n] = answer
    return answer

In [71]:
hike(4)

5

## 전문털이범

In [73]:
def rob(nums):
    if not nums:
        return 0 
    if len(nums ) <= 2:
        return max(nums)
    
    dp =  dict()
    dp[0] , dp[1] = nums[0], max(nums[0], nums[1])
    
    for i in range(2,len(nums)):
        dp[i] = max(dp[i-1],dp[i-2] + nums[i])
    
    return dp.popitem()[1]

### 직사각형 배치

In [1]:
### n = 1

In [ ]:
#2개 진입 x
# 1개

In [ ]:
3일떄는 2 + 1

In [ ]:
4일떄는 3 + 2

In [22]:
dp_list= [False for x in range(100)]

In [23]:
dp_list[1] = 1
dp_list[2] = 2

In [24]:
def dp(x):
    answer = dp_list[x]
    if answer == False:
        return dp(x-2) + dp(x-1)
    else:
        dp_list[x] = answer
        return answer

In [25]:
dp(8)

34

### 숫자만들기

In [ ]:
# 경우의수 담는 list []

In [ ]:
[1,2,4,7]

In [ ]:
1
2
1

## 도둑질

In [1]:
money = [1, 2, 3, 1 , 5, 6 , 7, 8, 10 ,12 , 15 ]

In [ ]:
# 1. 양끝 원형으로 체크
# 2. dp

In [ ]:
# 5의 경우 3 을 밟거나 2를 밟고 띄어서 오거나 체크해야함 둘중에  큰값으로 읽어야함 .

In [ ]:
# 경우의수를 2가지로 나눔
# 첫집을 간경우 , 첫집을 안간 경우

In [2]:
dp_list = [0 for x in range(len(money))]

In [3]:
dp_list

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# 1집 방문 .

In [4]:
dp_list[0] = money[0]
dp_list[1] = money[1]
dp_list[2] = money[0] + money[2]

In [6]:
dp_list

[1, 2, 4, 0, 0, 0, 0, 0, 0, 0, 0]

In [26]:
money= [1, 5, 3]

In [27]:
dp_list = [0 for x in range(len(money))]
dp_list[0] = money[0]
dp_list[1] = money[1]
dp_list[2] = money[0] + money[2]

for i in range(2,len(money)-1):
    money1 = money[i] + dp_list[i-2]
    money2 = money[i-1]
    if  money1 >= money2:
        dp_list[i] = money1
    else:
        dp_list[i] = money2
    a = dp_list[i]
    
dp_list = [0 for x in range(len(money))] 
dp_list[0] = 0
dp_list[1] = money[1]
for i in range(2,len(money)):
    money1 = money[i] + dp_list[i-2]
    money2 = money[i-1]
    if  money1 >= money2:
        dp_list[i] = money1
    else:
        dp_list[i] = money2
    b = dp_list[i]
answer= max(a,b)

In [49]:
def solution(money):
    dp_list = [0 for x in range(len(money))]
    dp_list[0] = money[0]
    dp_list[1] = money[0]
    dp_list[2] = money[0] + money[2]

    for i in range(2,len(money)-1):
        money1 = money[i] + dp_list[i-2]
        money2 = dp_list[i-1]
        if  money1 >= money2:
            dp_list[i] = money1
        else:
            dp_list[i] = money2
        
    a = dp_list[i]

    dp_list = [0 for x in range(len(money))] 
    dp_list[0] = 0
    dp_list[1] = money[1]
    dp_list[2] = money[1]
    
    for i in range(2,len(money)):
        money1 = money[i] + dp_list[i-2]
        money2 = dp_list[i-1]
        if  money1 >= money2:
            dp_list[i] = money1
        else:
            dp_list[i] = money2
        
    b = dp_list[i]
    answer= max(a,b)
    
    return answer

In [50]:
solution([1000, 10, 10, 2000, 30])

3000

In [28]:
answer

5

In [10]:
dp_list = [0 for x in range(len(money))]

In [11]:
dp_list[0] = 0
dp_list[1] = money[1]

In [12]:
for i in range(2,len(money)):
    money1 = money[i] + dp_list[i-2]
    money2 = money[i-1]
    if  money1 >= money2:
        dp_list[i] = money1
    else:
        dp_list[i] = money2

In [13]:
dp_list

[0, 2, 3, 3, 8, 9, 15, 17, 25, 29, 40]

In [8]:
dp_list

[1, 2, 4, 3, 9, 9, 16, 17, 26, 29, 41]