In [ ]:
import collections
import itertools

In [ ]:
test_list = [1,5,4,2,3,6,5,10,12,13]
nested_list = [[1,5,4],[2,6,9],[3,1,3]]

In [ ]:
# 리스트 거꾸로
print(test_list[:-1])
print(test_list[::-1])
print(test_list[-1])

[1, 5, 4, 2, 3, 6, 5, 10, 12]
[13, 12, 10, 5, 6, 3, 2, 4, 5, 1]
13

In [ ]:
# 리스트 [::2] 2칸씩 세기 , 3칸씩 세기

In [ ]:
print(test_list[::2])
print(test_list[::3])

[1, 4, 3, 5, 12]
[1, 2, 5, 13]

In [ ]:
# pop

In [ ]:
a=[1,5,4]

In [ ]:
# 튀어나온게 담기게 된당

In [ ]:
pops = a.pop()
print(pops)
print(a)

4
[1, 5]

In [ ]:
# list 합치기

In [ ]:
a

[1, 5]

In [ ]:
nested_list

[[1, 5, 4], [2, 6, 9], [3, 1, 3]]

In [ ]:
sum(nested_list,[])

[1, 5, 4, 2, 6, 9, 3, 1, 3]

In [ ]:
# tuple에도 적용이 된당

In [ ]:
nested_tuple = [(1,5,3),(2,4,6)]
nested_tuple1 = ((1,5,3),(2,4,6))

In [ ]:
# list에도 적용이 된당

In [ ]:
sum(nested_tuple , ())

(1, 5, 3, 2, 4, 6)

In [ ]:
sum(nested_tuple1 , ())

(1, 5, 3, 2, 4, 6)

In [ ]:
# 리스트 합치기 , + 나 extend 둘 중 아무거나 쓰면 됨

In [ ]:
a= [1,3]
b=[[4,5]]
print(a+b)
a.extend(b)
print(a)

[1, 3, [4, 5]]
[1, 3, [4, 5]]

In [ ]:
# while , for

In [ ]:
a=0
while a <=3:
  for i in range(a):
    print(i)
  a+=1

0
0
1
0
1
2

In [ ]:
# index 함수

In [ ]:
nested_list = [[1,5,4],[2,6,9],[3,1,3]]

In [ ]:
# 리스트도 찾아진다. 없으면 근데 오류가 남

In [ ]:
nested_list.index([1,5,4])

0

In [ ]:
test_list = [1,5,4,9,7]

In [ ]:
# 2번쨰, 3번째에 start , stop 위치 넣을수 있음 , 근데 찾았을 경우 무조건 원래의 위치 기준으로 셈

In [ ]:
a = [11,10,12,13,20,31,11,10,10,11]
print(a.index(10,2,9))    # index(value, start, end)

7

In [ ]:
# 심지어 문자열에도 가능하다

In [ ]:
a='15234325'
a.index('4')

4

In [ ]:
# find는 문자열에만 사용 대신 오류가 안나고 -1 로 출력되는게 개꿀이다옹

In [ ]:
a.find('5')

1

In [ ]:
# enumerate

In [ ]:
for a,b in enumerate(range(1,10,2)):
  print(a,b)

0 1
1 3
2 5
3 7
4 9

In [ ]:
# zip

In [ ]:
a= [1,5,4,6]
b= [7,9,10,11]
for c,d in zip(a,b):
  print(c,d)

1 7
5 9
4 10
6 11

In [ ]:
# 리스트도 가능하다옹

In [ ]:
a=[[1,5,4],[2,4,6],[3,8,9],[11,13,15]]
b = [[24,22,20],[10,15,18], [12,19,21],[22,34,50]]

In [ ]:
for c,d in zip(a,b):
  print(c,d)

[1, 5, 4] [24, 22, 20]
[2, 4, 6] [10, 15, 18]
[3, 8, 9] [12, 19, 21]
[11, 13, 15] [22, 34, 50]

In [ ]:
# 백준 인풋용

In [ ]:
list(map(int,input().split(' ')))

4 5

[4, 5]

In [ ]:
# 조합 수작업 구현

In [ ]:
length = 5

In [ ]:
for i in range(0 , length):
  for j in range(i+1 , length):
    for k in range(j+1, length):
      print(i,j,k)

0 1 2
0 1 3
0 1 4
0 2 3
0 2 4
0 3 4
1 2 3
1 2 4
1 3 4
2 3 4

In [ ]:
import itertools

In [ ]:
a= [1,2,3,4]

In [ ]:
list(itertools.combinations(a,2))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [ ]:
# BFS

In [ ]:
graph = collections.defaultdict(list)

In [ ]:
graph['A'] = ['B','C']
graph['B'] = ['A','D']
graph['C'] = ['A','G','H','I']
graph['D'] = ['B','E','F']
graph['E'] = ['D']
graph['F'] = [ 'D']
graph ['G'] = ['C']
graph ['H'] = ['C']
graph['I'] = ['C','J']
graph['J'] = ['I']

In [ ]:
graph

defaultdict(list,
            {'A': ['B', 'C'],
             'B': ['A', 'D'],
             'C': ['A', 'G', 'H', 'I'],
             'D': ['B', 'E', 'F'],
             'E': ['D'],
             'F': ['D'],
             'G': ['C'],
             'H': ['C'],
             'I': ['C', 'J'],
             'J': ['I']})

In [ ]:
def BFS(graph,start_node):
  visited=list() # 방문할 노드
  need_visit = list() # 갈 노드
  
  need_visit.append(start_node) # 시작 노드 넣어주고
  while need_visit: # need_visit이 빈칸 될동안.
    node = need_visit.pop(0)
    
    if node not in visited:
      visited.append(node)
      need_visit+=graph[node]
    
  return visited

In [ ]:
BFS(graph,'J')

['J', 'I', 'C', 'A', 'G', 'H', 'B', 'D', 'E', 'F']

In [ ]:
def DFS(graph,start_node):
  visited = list()
  need_visit  = list()
  need_visit.append(start_node)
  while need_visit:
    node = need_visit.pop() # BFS 랑 딲 이차이임 마지막이냐 처음이냐
    if node not in visited:
      visited.append(node)
      need_visit.extend(graph[node])
  return visited

In [ ]:
# default dict 사용법

In [ ]:
a= collections.defaultdict(dict)
b= collections.defaultdict(list)
c= collections.defaultdict(int)

In [ ]:
# default dict 왜쓰나요? 이런게 가능하다 코테풀때 깨꿀

In [ ]:
a['b']
a

defaultdict(dict, {'b': {}})

In [ ]:
# 사전에 추가하는법 , 중복이 발새애혿 오류가 안생겨서 좋네

In [ ]:
key = 'key'
value = 'value'
value1 = 'value1'

In [ ]:
# 저런식으로 되있으면 추가못함 게다가

In [ ]:
test_dict[key] = value
test_dict[key] = value1
test_dict

{'key': 'value1'}

In [ ]:
# 그래서 defaultdict를 써주면. 요렇게 append 가 먹힌다.

In [ ]:
default_dict = collections.defaultdict(list)

In [ ]:
default_dict['key'].append('a')

In [ ]:
default_dict

defaultdict(list, {'key': ['a', 'a']})

In [ ]:
# heapq 사용법 리스트를 힙처럼 사용할수 있게 해주는거임!!

In [ ]:
import heapq

In [ ]:
queue = []

In [ ]:
heapq.heappush(queue,[2,'A'])
heapq.heappush(queue,[4,'B'])
heapq.heappush(queue,[1,'C'])
heapq.heappush(queue,[6,'D'])

In [ ]:
# 요렇게 트리형태로

In [ ]:
queue

[[1, 'C'], [4, 'B'], [2, 'A'], [6, 'D']]

In [ ]:
# heap pop을 하면 다시 트리가 재정렬된다옹

In [ ]:
heapq.heappop(queue)
queue

[[2, 'A'], [4, 'B'], [6, 'D']]

In [ ]:
# 이런식으로 항상 최소값을 얻을 수 있는게 장점이라고 한다.

In [ ]:
queue[0]

[2, 'A']

In [ ]:
# 다익스트라 알고리즘 , 거리 측정

In [ ]:
mygraph = collections.defaultdict(dict)

In [ ]:
mygraph['A'] = {'B':8 , 'C':1 , 'D':2}
mygraph['B'] = {}
mygraph['C'] = {'B':5 ,'D':2}
mygraph['D'] = {'E':3 , 'F':5 }
mygraph['E'] = {'F':1 }
mygraph['F'] = {'A':5 }

In [ ]:
mygraph

defaultdict(dict,
            {'A': {'B': 8, 'C': 1, 'D': 2},
             'B': {},
             'C': {'B': 5, 'D': 2},
             'D': {'E': 3, 'F': 5},
             'E': {'F': 1},
             'F': {'A': 5}})

In [ ]:
def hamsu(graph, start):
  distances = {node: float('inf') for node in graph}
  distances[start] = 0
  queue = []
  heapq.heappush(queue, [distances[start],start])

  while queue:
    current_distance , current_node  = heapq.heappop(queue)

    if distances[current_node] < current_distance:
      continue
    for adjacent , weight in graph[current_node].items():
      distance = current_distance + weight

      if distance < distances[adjacent]:
        distances[adjacent] = distance
        heapq.heappush(queue,[distance , adjacent])
        
    return distances

In [ ]:
hamsu(mygraph,'A')

{'A': 0, 'B': 8, 'C': 1, 'D': 2, 'E': inf, 'F': inf}

In [ ]:
# 동서남북 이동하기

In [ ]:
 grid = [[ 0 for a in range(5) ] for x in range(5)]

In [ ]:
grid[0][0]=1
grid[0][1]=1
grid[0][2]=1
grid[1][0]=1
grid[1][0]=1
grid[2][0]=1 
grid[2][2] =1
grid[4][2]=1
print(grid)

In [ ]:
def numislands(grid):
  def dfs(i,j):
    if i < 0 or i >= len(grid) or j < 0 or j >= len(grid[0]) or grid[i][j] != 1:
      return
    
    grid[i][j] = 0 
    print(grid)
    dfs(i-1 ,  j )
    dfs(i+1 , j  )
    dfs(i   , j-1)
    dfs(i   , j+1)
  
  count = 0
  for i in range(len(grid)):
    for j in range(len(grid[0])):
      if grid[i][j] ==1:
        dfs(i,j)
        count+=1
  return count

In [ ]:
 # 나이트 이동

In [ ]:
from collections import deque # 힙큐가 아니라 디큐

def solution(n, startRow, startCol, endRow, endCol):
    dx = [-1, -2, -2, -1, 1, 2, 2, 1]
    dy = [2, 1, -1, -2, -2, -1, 1, 2]
    
    def bfs(startRow, startCol, endRow, endCol):
        q = deque() # deque가 더빠름
        q.append([startRow, startCol])
        chess[startRow][startCol] = 1
        while q:
            a, b = q.popleft()
            if a == endRow and b == endCol:
                return(chess[endRow][endCol] -1)
            
            for i in range(8):
                x = a + dx[i]
                y = b + dy[i]
                if 0 <= x < n and 0 <= y < n and chess[x][y] == 0:
                    q.append([x, y])
                    chess[x][y] = chess[a][b] + 1
    chess = [[0] * n for i in range(n)]
    
    return bfs(startRow, startCol, endRow, endCol)

In [ ]:
from collections import deque

dx = [-1, -2, -2, -1, 1, 2, 2, 1]
dy = [2, 1, -1, -2, -2, -1, 1, 2]

for _ in range(int(input())):
  size = int(input())
  startRow, startCol = map(int,input().split())
  endRow , endCol = map(int,input().split())
  chess = [[0] * size for i in range(size)]

  def bfs(startRow, startCol, endRow, endCol):
        q = deque()
        q.append([startRow, startCol])
        chess[startRow][startCol] = 1
        
        while q:

            print(q,'START')

            a, b = q.popleft()
            if a == endRow and b == endCol:
                return(chess[endRow][endCol] -1)
            
            for i in range(8):
                x = a + dx[i]
                y = b + dy[i]
                if 0 <= x < size and 0 <= y < size and chess[x][y] == 0:
                    q.append([x, y])
                    print(q)
                    chess[x][y] = chess[a][b] + 1
          
  
  print(bfs(startRow, startCol, endRow, endCol))

In [ ]:
# lambda 이용한 정렬

In [ ]:
test_list = [[6,4],[7,2],[9,7],[8,2],[1,4]]

In [ ]:
# 비율순 정렬

In [ ]:
data_list = sorted(test_list , key = lambda x: x[0]/x[1] )
print(data_list)

[[1, 4], [9, 7], [6, 4], [7, 2], [8, 2]]

In [ ]:
# 요런거도 가능

In [ ]:
letters = ['a d', 'c b' , 'z s']
letters.sort(key=lambda x : (x.split()[1:], x.split()[0] ))
letters

['c b', 'a d', 'z s']

In [ ]:
# 리스트에서 숫자세기 , Counter

In [ ]:
import collections

In [ ]:
a= [2,5,4,6,9,10,35,2,3,3,3]
b = collections.Counter(a)
b

Counter({2: 2, 3: 3, 4: 1, 5: 1, 6: 1, 9: 1, 10: 1, 35: 1})

In [ ]:
# 이렇게 접근 가능

In [ ]:
b[2]

2

In [ ]:
# 2개 까지

In [ ]:
print(b.most_common(1))
print(b.most_common(2))

[(3, 3)]
[(3, 3), (2, 2)]

In [ ]:
letters = ['a d', 'c b' , 'z s']
letters.sort(key=lambda x : (x.split()[1:], x.split()[0] ))
letters

In [ ]:
# 2f리스트에서 겹치는 것들 세기

In [ ]:
S = [1,4,5,6]
J = [2,4,10,11]
sum ( s in J for s in S )

1

In [ ]:
#

In [ ]:
nums = [1,5,4,6,1,2,2,3,9,10,3,2,7,1]
nested_list = [[1,5],[2,4],[3,6]]

In [ ]:
collections.Counter(nums).most_common(3)

[(1, 3), (2, 3), (3, 2)]

In [ ]:
print( list(zip(*nested_list)) )
print( list(zip(*collections.Counter(nums).most_common(3))))

[(1, 2, 3), (5, 4, 6)]
[(1, 2, 3), (3, 3, 2)]