In [ ]:
import copy

In [ ]:
m, n = 6,6

In [ ]:
board = ["TTTANT", "RRFACC", "RRRFCC", "TRRRAA", "TTMMMF", "TMMTTJ"]

In [ ]:
m,  n = 4,5

In [ ]:
board = ["CCBDE", "AAADE", "AAABF", "CCBBF"]

In [ ]:
map = ['' for x in range(n)]

In [ ]:
for nn in range(n):
  for mm in range(m):
    map[nn] += board[mm][nn]
m = len(map)
n = len(map[0])

In [ ]:
empty=[]
map_compare = []

In [ ]:
map_compare

[]

In [ ]:
def find4(mm,nn):

  character =map[mm][nn]
  
  if character == 'O':
    pass
  else:
    if mm-1 <0 or nn-1 < 0 :
      pass
    else:
      
      if map[mm-1][nn-1] ==character and map[mm-1][nn] == character and map[mm][nn-1] == character :
        empty.extend([[mm-1, nn-1], [mm,nn-1], [mm-1,nn], [mm,nn]] )

    if mm+1 >=m or nn+1 >= n :
      pass
    else:
      if map[mm+1][nn+1] ==character and map[mm+1][nn] == character and map[mm][nn+1] == character :
        empty.extend( [[mm+1, nn+1], [mm,nn+1], [mm+1,nn], [mm,nn]] ) 

    if mm-1 <0 or nn+1 >= n :
      pass
    else:
      if map[mm-1][nn+1] ==character and map[mm-1][nn] == character and map[mm][nn+1] == character :
        empty.extend([[mm-1, nn+1], [mm,nn+1], [mm-1,nn], [mm,nn]] )

    if mm+1 >=m or nn-1 < 0 :
      pass
    else:
      if map[mm+1][nn-1] ==character and map[mm+1][nn] == character and map[mm][nn-1] == character :
        empty.extend([[mm+1, nn-1], [mm,nn-1], [mm+1,nn], [mm,nn]] )

In [ ]:
while map != map_compare:
  empty=[]
  map_compare = copy.copy(map)
  for i in range(len(map)):
    for j in range(len(map[0])):
      find4(i,j)
  empty_set = [] 
  for value in empty:
    if value not in empty_set:
      empty_set.append(value)
  rm_list = sorted(empty_set)
  for i in rm_list:
    string = map[i[0]]
    string_list = list(string)
    string_list[i[1]] = ' '
    string = ''.join(string_list)
    map[i[0]] = string   
  for i in map:
    print(i)
    i.replace(' ','')
    i = (n-len(i)) * 'O' + i
    print(i)

  for i in range(m):
    transform = map[i].replace(' ','')
    full = (n-len(transform)) * 'O' + transform
    map[i] =full
answer= 0
for i in range(len(map)):
  for j in range(len(map[0])):
    if map[i][j] == 'O':
      answer+=1

T  TTT
T  TTT
T   TM
T   TM
TF  MM
TF  MM
AAFRMT
AAFRMT
N  AMT
N  AMT
T  AFJ
T  AFJ
OOT  T
OOT  T
OOO  M
OOO  M
OOTFMM
OOTFMM
AAFRMT
AAFRMT
OONAMT
OONAMT
OOTAFJ
OOTAFJ
OOOOTT
OOOOTT
OOOOOM
OOOOOM
OOTFMM
OOTFMM
AAFRMT
AAFRMT
OONAMT
OONAMT
OOTAFJ
OOTAFJ

In [ ]:
answer

15

In [ ]:
import copy        

def solution(m, n, board):
    mapp = ['' for x in range(n)]
    
    for nn in range(n):
        for mm in range(m):
            mapp[nn] += board[mm][nn]
    
    m = len(mapp)
    n = len(mapp[0])
    
    empty=[]
    map_compare=[]
    
    def find4(mm,nn):
        character = mapp[mm][nn]

        if character =='O':
            pass
        else:
            if mm-1 < 0 or nn-1 < 0:
                pass

            else:
                if mapp[mm-1][nn-1] == character and mapp[mm-1][nn]  == character and mapp[mm][nn-1] == character:
                    empty.extend([[mm-1,nn-1],[mm,nn-1],[mm-1,nn],[mm,nn]])

            if mm+1 >=m or nn+1 >= n:
                pass
            else:
                if mapp[mm+1][nn+1] == character and mapp[mm+1][nn] == character and mapp[mm][nn+1] == character:
                    empty.extend([[mm+1,nn+1],[mm,nn+1],[mm+1,nn],[mm,nn]])

            if mm-1 < 0 or nn+1 >= n:
                pass
            else:
                if mapp[mm-1][nn+1] == character and mapp[mm-1][nn] == character and mapp[mm][nn+1] == character:
                    empty.extend([[mm-1,nn+1],[mm,nn+1],[mm-1,nn],[mm,nn] ])

            if mm+1 >=m or nn-1 <=0:
                pass
            else:
                if mapp[mm+1][nn-1] == character and mapp[mm+1][nn] == character and mapp[mm][nn-1] == character:
                    empty.extend([[mm+1,nn-1],[mm,nn-1],[mm+1,nn],[mm,nn]])
    
    
    while mapp !=  map_compare:
        empty = []
        map_compare = copy.copy(mapp)
        for i in range(len(mapp)):
            for j in range(len(mapp[0])):
                find4(i,j)
        
        empty_set = []
        for value in empty:
            if value not in empty_set:
                empty_set.append(value)
        
        rm_list = sorted(empty_set)
        for i in rm_list:
            string = mapp[i[0]]
            string_list = list(string)
            string_list[i[1]]  = ' '
            string = ''.join(string_list)
            mapp[i[0]]= string
        
        for i in mapp:
            i.replace(' ','')
            i = (n-len(i)) * 'O' + i
            
        for i in range(m):
            transform = mapp[i].replace(' ','')
            full = (n - len(transform)) * 'O' + transform
            mapp[i] = full
    answer = 0
    for i in range(len(mapp)):
        for j in range(len(mapp[0])):
            if mapp[i][j] == 'O':
                answer+=1
        
    return answer

In [ ]:
solution(m,n,board)

24

In [ ]:
board = ["AAAAAA", "BBAATB", "BBAATB", "JJJTAA", "JJJTAA"]

In [ ]:
m,n= 5,6

In [ ]:
A A A A A A
B B A A T B
B B A A T B
J J J T A A
J J J T A A

In [ ]:
AAOOAA
OOOOTB
OOOOTB
OOOTOO
OOOTOO

In [ ]:
OOOOOO
OOOOOO
OOOOAA
OOOTTA
AAOTTB

In [ ]:
OOOOOO
OOOOOO
OOOOOA
OOOOOA
AAOOAB

In [ ]:
empty_set = [] 
for value in empty:
  if value not in empty_set:
    empty_set.append(value)

In [ ]:
rm_list = sorted(empty_set)

In [ ]:
map

['TRRTTT', 'TRRRTM', 'TFRRMM', 'AAFRMT', 'NCCAMT', 'TCCAFJ']

In [ ]:
for i in rm_list:
  string = map[i[0]]
  string_list = list(string)
  string_list[i[1]] = ' '
  string = ''.join(string_list)
  map[i[0]] = string

In [ ]:
for i in map:
  i.replace(' ','')
  i = (n-len(i)) * 'O' + i

['T  TTT', 'T   TM', 'TF  MM', 'AAFRMT', 'N  AMT', 'T  AFJ']

In [ ]:
for i in range(m):
  transform = map[i].replace(' ','')
  full = (n-len(transform)) * 'O' + transform
  map[i] =full

In [ ]:
map

['OOTTTT', 'OOOTTM', 'OOTFMM', 'AAFRMT', 'OONAMT', 'OOTAFJ']

In [ ]:
for i in range(len(map)):
  for j in range(len(map[0])):
    find4(i,j)

0 0 O
0 1 O
0 2 T
0 3 T
0 4 T
0 5 T
1 0 O
1 1 O
1 2 O
1 3 T
1 4 T
1 5 M
2 0 O
2 1 O
2 2 T
2 3 F
2 4 M
2 5 M
3 0 A
3 1 A
3 2 F
3 3 R
3 4 M
3 5 T
4 0 O
4 1 O
4 2 N
4 3 A
4 4 M
4 5 T
5 0 O
5 1 O
5 2 T
5 3 A
5 4 F
5 5 J

In [ ]:
map

['OOTTTT', 'OOOTTM', 'OOTFMM', 'AAFRMT', 'OONAMT', 'OOTAFJ']

In [ ]:
'TRRTTT'
'TRRRTM'
'TFRRMM'
'AAFRMT'
'NCCAMT'
'TCCAFJ'

'TCCAFJ'

In [ ]:
mm nn 이 뒤집어진거 생각해줘야함

SyntaxError: ignored

In [ ]:
def find4(mm,nn):

  character =map[mm][nn]
  print(mm,nn, character)
  if character == 'O':
    pass
  else:
    if mm-1 <0 or nn-1 < 0 :
      pass
    else:
      
      if map[mm-1][nn-1] ==character and map[mm-1][nn] == character and map[mm][nn-1] == character :
        empty.extend([[mm-1, nn-1], [mm,nn-1], [mm-1,nn], [mm,nn]] )

    if mm+1 >=m or nn+1 >= n :
      pass
    else:
      if map[mm+1][nn+1] ==character and map[mm+1][nn] == character and map[mm][nn+1] == character :
        empty.extend( [[mm+1, nn+1], [mm,nn+1], [mm+1,nn], [mm,nn]] ) 

    if mm-1 <0 or nn+1 >= n :
      pass
    else:
      if map[mm-1][nn+1] ==character and map[mm-1][nn] == character and map[mm][nn+1] == character :
        empty.extend([[mm-1, nn+1], [mm,nn+1], [mm-1,nn], [mm,nn]] )

    if mm+1 >=m or nn-1 < 0 :
      pass
    else:
      if map[mm+1][nn-1] ==character and map[mm+1][nn] == character and map[mm][nn-1] == character :
        empty.extend([[mm+1, nn-1], [mm,nn-1], [mm+1,nn], [mm,nn]] )

In [ ]:
x = []

In [ ]:
def test():
  x.append('a')

In [ ]:
test()

In [ ]:
x

['a']

In [ ]:
import copy

def find4(mm,nn):

    character =map[mm][nn]
    if character == 'O':
        pass
    else:
        
        if mm-1 <0 or nn-1 < 0 :
            pass
        else:
      
            if map[mm-1][nn-1] ==character and map[mm-1][nn] == character and map[mm][nn-1] == character :
                empty.extend([[mm-1, nn-1], [mm,nn-1], [mm-1,nn], [mm,nn]] )

        if mm+1 >=m or nn+1 >= n :
            pass
        else:
            if map[mm+1][nn+1] ==character and map[mm+1][nn] == character and map[mm][nn+1] == character :
                empty.extend( [[mm+1, nn+1], [mm,nn+1], [mm+1,nn], [mm,nn]] ) 

        if mm-1 <0 or nn+1 >= n :
            pass
        else:
            if map[mm-1][nn+1] ==character and map[mm-1][nn] == character and map[mm][nn+1] == character :
                empty.extend([[mm-1, nn+1], [mm,nn+1], [mm-1,nn], [mm,nn]] )

        if mm+1 >=m or nn-1 < 0 :
            pass
        else:
            if map[mm+1][nn-1] ==character and map[mm+1][nn] == character and map[mm][nn-1] == character :
                empty.extend([[mm+1, nn-1], [mm,nn-1], [mm+1,nn], [mm,nn]] )





def solution(m, n, board):
    
    
    
    map = ['' for x in range(n)]
    for nn in range(n):
      for mm in range(m):
        map[nn] += board[mm][nn]
    m = len(map)
    n = len(map[0])
    empty=[]
    map_compare = []
    
    while map != map_compare:
        empty=[]
    map_compare = copy.copy(map)
    for i in range(len(map)):
        for j in range(len(map[0])):
            find4(i,j)
    empty_set = [] 
    for value in empty:
        if value not in empty_set:
            empty_set.append(value)
    rm_list = sorted(empty_set)
    for i in rm_list:
        string = map[i[0]]
        string_list = list(string)
        string_list[i[1]] = ' '
        string = ''.join(string_list)
        map[i[0]] = string   
    for i in map:
        i.replace(' ','')
        i = (n-len(i)) * 'O' + i
    for i in range(m):
        transform = map[i].replace(' ','')
        full = (n-len(transform)) * 'O' + transform
        map[i] =full
    answer= 0
    for i in range(len(map)):
        for j in range(len(map[0])):
            if map[i][j] == 'O':
                answer+=1
    
    return answer

In [ ]:
board = ["TTTANT", "RRFACC", "RRRFCC", "TRRRAA", "TTMMMF", "TMMTTJ"]

In [ ]:
m, n = 6,6

In [ ]:
solution(m,n,board)

0 0
0 1
0 2
0 3
0 4

IndexError: ignored

In [ ]:
import copy
def find4(mm,nn):
    print(mm,nn)
    character =map[mm][nn]
  
    if character == 'O':
        pass
    else:
        if mm-1 <0 or nn-1 < 0 :
            pass
        else:
            if map[mm-1][nn-1] ==character and map[mm-1][nn] == character and map[mm][nn-1] == character :
                empty.extend([[mm-1, nn-1], [mm,nn-1], [mm-1,nn], [mm,nn]] )

        if mm+1 >=m or nn+1 >= n :
            pass
        else:
            if map[mm+1][nn+1] ==character and map[mm+1][nn] == character and map[mm][nn+1] == character :
                empty.extend( [[mm+1, nn+1], [mm,nn+1], [mm+1,nn], [mm,nn]] ) 

        if mm-1 <0 or nn+1 >= n :
            pass
        else:
            if map[mm-1][nn+1] ==character and map[mm-1][nn] == character and map[mm][nn+1] == character :
                empty.extend([[mm-1, nn+1], [mm,nn+1], [mm-1,nn], [mm,nn]] )

        if mm+1 >=m or nn-1 < 0 :
            pass
        else:
            if map[mm+1][nn-1] ==character and map[mm+1][nn] == character and map[mm][nn-1] == character :
                empty.extend([[mm+1, nn-1], [mm,nn-1], [mm+1,nn], [mm,nn]] )
                
def solution(m,n,board):
    map = ['' for x in range(n)]
    for nn in range(n):
        for mm in range(m):
            map[nn] += board[mm][nn]
    m = len(map)
    n = len(map[0])
    empty=[]
    map_compare = []
    
    while map != map_compare:
        empty=[]
        map_compare = copy.copy(map)
        for i in range(len(map)):
            for j in range(len(map[0])):
                find4(i,j)
        empty_set = [] 
        for value in empty:
            if value not in empty_set:
                empty_set.append(value)
        rm_list = sorted(empty_set)
        for i in rm_list:
            string = map[i[0]]
            string_list = list(string)
            string_list[i[1]] = ' '
            string = ''.join(string_list)
            map[i[0]] = string   
        for i in map:
            i.replace(' ','')
            i = (n-len(i)) * 'O' + i
        for i in range(m):
            transform = map[i].replace(' ','')
            full = (n-len(transform)) * 'O' + transform
            map[i] =full
    answer= 0
    for i in range(len(map)):
        for j in range(len(map[0])):
            if map[i][j] == 'O':
                answer+=1
    
    return answer

In [ ]:
price = '100,200,300,100,,,,400,500,600,'

In [ ]:
price_array = price.split(',')

In [ ]:
price_array

['100', '200', '300', '100', '', '', '', '400', '500', '600', '']

In [ ]:
present = price_array.pop(-2)

In [ ]:
present

'600'

In [ ]:
price_array

['100', '200', '300', '100', '', '', '', '400', '500', '']

In [ ]:
price_array=np.array(price_array)

In [ ]:
ss =np.delete(price_array,np.where(price_array==''))

In [ ]:
ss

array(['100', '200', '300', '100', '400', '500'], dtype='<U3')

In [ ]:
sorted(ss)

In [ ]:
g = list(ss)

In [ ]:
g

['100', '200', '300', '100', '400', '500']

In [ ]:
a = [1.2, 2.5, 3.7, 4.6]

In [ ]:
del map

In [ ]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))

In [ ]:
map(int, g)

TypeError: ignored

In [ ]:
value =np.array(list(map(int, list(ss))))

In [ ]:
value

array([100, 200, 300, 100, 400, 500])

In [ ]:
np.median(value )

250.0

'600'

In [ ]:
import numpy as np

In [ ]:
np.median(np.array([]))

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3441: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/usr/local/lib/python3.7/dist-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

nan

In [ ]:
s =[12050 ,12050 ,12050 ,12050 ,12050 ,12050, 12050, 12050, 12050, 12050,
 12050, 12050, 12050, 12650, 12820, 12820, 12820, 12200, 12200, 12200,
 12200, 12200, 12200, 12200, 12200, 12200, 12200, 12200, 12200, 12200]

In [ ]:
np.median(np.array(s))

12200.0

In [ ]:
np.median(np.array([])) / 30

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3441: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/usr/local/lib/python3.7/dist-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

nan