# 1번

In [11]:
ingredients = ['linguine', 'pepper', 'ketchup', 'mushroom']

In [12]:
target = 'mushroom'

In [13]:
startIndex = 1 # 2

In [16]:
def solution(ingredients, startIndex, target):
    list_ =  ingredients+ ingredients + ingredients
    startIndex = len(ingredients) + startIndex
    index = startIndex
    
    
    # right
    right_count = 0 
    while list_[index] != target :
        right_count +=1
        index += 1
    
    index = startIndex
        
    # left
    
    left_count = 0
    while list_[index] != target :
        left_count +=1
        index -= 1
    
    answer =  min(right_count, left_count)
    print(answer)
    return

In [17]:
solution(ingredients, startIndex, target)

2

# 2번

In [23]:
a = '011'

In [24]:
a[::-1]

'110'

In [25]:
a[:-1]

'01'

In [ ]:
110
011

In [27]:
string = '110'

In [31]:
s = '011'

In [32]:
number_of_1 = 0
number_of_0 = 0

In [33]:
for i in s:
    if i == '1':
        number_of_1 += 1
    else:
        number_of_0 += 1

In [38]:
temp_1 = ''
for i in range(number_of_1):
    temp_1 +='1'

temp_0 = ''
for i in range(number_of_0):
    temp_0 +='0'

In [40]:
string = temp_1 + temp_0

In [41]:
string

'110'

In [42]:
result= get_initial_string(string)

In [43]:
result

'101'

In [28]:
def get_initial_string(string):
    n = len(string)
    temp = ''
    for i in range(n):
        string = string[::-1]
        last = string[-1]
        temp =  last + temp
        string = string[:-1]
    return temp

In [29]:
max_ = get_initial_string(string)

In [30]:
max_

'101'

In [ ]:
a = int('0b10000', 2)
print(a)
# 16

## 3번

In [17]:
n =4 
queryType= ['Friend','Friend','Total']
students1 = [1,2,1]
students2 = [2,3,4]

In [76]:
n =2 
queryType= ['Total']
students1 = [1]
students2 = [2]

In [26]:
def dfs(student ,visited,dictionary):
    q = []
    q.append(student)
    while q:
        visit_student = q.pop()
        visited[visit_student] = True
        next_students = dictionary[visit_student]
        for ns in next_students:
            if visited[ns] == False:
                q.append(ns)

In [27]:
def solution(n, queryType, students1, students2):
    dictionary = {x:set() for x in range(n)}
    answer = []
    for q in range(len(queryType)):

        command = queryType[q]
        a , b = students1[q]-1 , students2[q]-1
        if command == 'Friend':
            dictionary[a].update([b])
            dictionary[b].update([a])
        else:
            visited=[False for x in range(n)]
            
            dfs(a,visited,dictionary)
            if visited[b] == False:
                dfs(b,visited,dictionary)
            answer.append(sum(visited))
    return answer

In [34]:
bin(0b1101 & 0b1001)

'0b1001'

In [37]:
int('0b1001')

ValueError: invalid literal for int() with base 10: '0b1001'

In [105]:
n =4 
queryType= ['Friend','Friend','Total']
students1 = [1,2,1]
students2 = [2,3,4]

In [116]:
[['0'* n ] for y in range(n)]

[['0000'], ['0000'], ['0000'], ['0000']]

In [129]:
friends_list = ['0'* n  for y in range(n)]
for i in range(n):
    friends_list[i][i] = '1'

TypeError: 'str' object does not support item assignment

In [130]:
friends_list

['0000', '0000', '0000', '0000']

In [ ]:
#  4. INTEGER_ARRAY students2
#
def dfs(student ,visited,dictionary):
    q = []
    q.append(student)
    while q:
        visit_student = q.pop()
        visited[visit_student] = True
        next_students = dictionary[visit_student]
        for ns in next_students:
            if visited[ns] == False:
                q.append(ns)

def solution(n, queryType, students1, students2):
    dictionary = {x:set() for x in range(n)}
    answer = []
    for q in range(len(queryType)):

        command = queryType[q]
        a , b = students1[q]-1 , students2[q]-1
        if command == 'Friend':
            dictionary[a].update([b])
            dictionary[b].update([a])
        else:
            visited=[False for x in range(n)]
            dfs(a,visited,dictionary)
            if visited[b] == False:
                dfs(b,visited,dictionary)
            answer.append(sum(visited))
    return answer

In [131]:
a='11101'

In [132]:
a[3]

'0'

In [133]:
a[3] ='1'

TypeError: 'str' object does not support item assignment

In [136]:
str(1)

'1'

In [112]:
def solution(n, queryType, students1, students2):
    answer = []
    friends_list = [['0'* n ] for y in range(n)]
    for i in range(n):
        friends_list[i][i] = '1'
    for q in range(len(queryType)):
        command = queryType[q]
        a , b = students1[q]-1 , students2[q]-1
        
        if command == 'Friend':
            friends_list[a][b] = '1'
            friends_list[b][a] = '1'
            a_string = ''.join(friends_list[a])
            a_bin = bin(int(a_string,2))
            b_string = ''.join(friends_list[b])
            b_bin = bin(int(b_string,2))
            gg = int(a_bin, 2) | int(b_bin, 2)
            bin_gg = bin(gg)
            print(bin_gg,'gg')
        else:
#             a_string = ''.join(friends_list[a])
#             print(a_string)
#             a_bin = bin(int(a_string,2))
            
            
#             b_string = ''.join(friends_list[b])
#             b_bin = bin(int(b_string,2))
#             print(b_string)
            
#             gg = int(a_bin, 2) | int(b_bin, 2)
#             counts = bin(gg)[2:].count('1')
#             answer.append(counts)
            pass
    return answer

In [113]:
solution(n, queryType, students1, students2)

0b1100 gg
0b1110 gg

[]

In [46]:
 friends_list = [['0' for y in range(n)] for x in range(n)]

In [47]:
for i in range(n):
    friends_list[i][i] = '1'

In [48]:
friends_list

[['1', '0'], ['0', '1']]

In [49]:
a_string = ''.join(friends_list[0])

In [59]:
a_string

'10'

In [60]:
a_bin = bin(int(a_string,2))

In [61]:
a_bin

'0b10'

In [62]:
b_string = ''.join(friends_list[1])

In [63]:
b_bin = bin(int(b_string,2))

In [64]:
b_bin

'0b1'

In [69]:
gg = int(a_bin, 2) | int(b_bin, 2)

In [74]:
bin(gg)[2:].count('1')

2

In [71]:
"0b{0:08b}".format(gg)

'0b00000011'

In [70]:
gg

3

In [65]:
a_bin|b_bin

TypeError: unsupported operand type(s) for |: 'str' and 'str'

In [52]:
bin('0b1101' | '0b1001')

TypeError: unsupported operand type(s) for |: 'str' and 'str'

In [56]:
import bitarray

ModuleNotFoundError: No module named 'bitarray'

In [55]:
int(0b1101)

13

In [53]:
bin(1101)

'0b10001001101'

In [ ]:
friends = []

In [ ]:
visited = [True, True, True, False, True]
dp[]

In [30]:
dp = [[] for x in range(n+1)]

In [31]:
dp

[[], [], []]

In [32]:
dp = [[0],[4],[1]]

In [33]:
dp

[[0], [4], [1]]

In [ ]:
[5,2]
[['a','b'],['c','d']]

In [28]:
solution(n, queryType, students1, students2)

[2]

In [98]:
dictionary

{0: {1}, 1: {0, 2}, 2: {1}, 3: set()}

In [99]:
visited=[False for x in range(n)]

In [ ]:
def dfs(student ,visited):
    q = []
    q.append(student)
    while q:
        visit_student = q.pop()
        visited[visit_student] = True
        next_students = dictionary[visit_student]
        for ns in next_students:
            if visited[ns] == False:
                q.append(ns)

In [101]:
a = 0 
b= 3

In [102]:
q = []

In [103]:
q.append(a)

In [104]:
q

[0]

In [109]:
while q:
    visit_student = q.pop()
    visited[visit_student] = True
    next_students = dictionary[visit_student]
    for ns in next_students:
        if visited[ns] == False:
            q.append(ns)

In [110]:
visited

[True, True, True, False]

In [112]:
q.append(b)

In [114]:
while q:
    visit_student = q.pop()
    visited[visit_student] = True
    next_students = dictionary[visit_student]
    for ns in next_students:
        if visited[ns] == False:
            q.append(ns)

In [115]:
visited

[True, True, True, True]

In [ ]:
# 이게 같이 변해야함 .

In [ ]:
for q in range(len(queryType)):
    command = queryType[q]
    if command == 'Friend':
        a , b = students1[q]-1 , students2[q]-1
        sum_ = list_[a] + list_[b]
        list_[a] = sum_
        list_[b] = sum_

In [125]:
n =3
queryType= ['Freind','Total']
students1 = [1,2]
students2 = [2,3]

In [ ]:
[12,12,3]

In [129]:
n =2 
queryType= ['Total']
students1 = [1]
students2 = [2]
# 2

In [ ]:
[1,2]

In [ ]:
n = 100
queryType

In [ ]:
100
84
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
Friend
Total
84
30
49
33
79
61
13
73
1
23
14
22
1
38
82
80
75
45
64
3
19
67
68
40
10
53
37
2
47
75
49
83
63
43
8
70
37
44
41
3
34
36
23
75
13
29
53
11
60
55
22
4
48
44
21
82
69
18
77
64
19
36
61
77
65
69
4
21
78
59
43
32
30
84
70
77
17
28
21
60
67
5
44
12
57
84
62
19
5
83
56
78
18
35
72
33
21
8
54
6
57
46
40
10
61
51
42
51
12
47
52
67
26
23
17
52
3
81
8
68
41
52
83
48
31
62
44
38
1
71
56
33
8
37
24
26
57
20
22
14
51
40
47
20
23
27
20
13
32
78
82
51
77
65
52
5
15
69
69
7
58
20
12
28
31
76
82
64
4
29

In [ ]:
with caller_sum  as (
select caller , sum(duration) as caller_sum
from calls
group by caller
) ,
callee_sum as (
select callee, sum(duration) as callee_sum
from calls
group by callee  
) , 
total_caller as (
select phones.name, phones.phone_number , caller_sum.caller_sum
from phones
left join caller_sum
on phones.phone_number = caller_sum.caller
) , 
total_caller_callee as (
select total_caller.name, 
    total_caller.phone_number , 
    COALESCE(total_caller.caller_sum, 0 ) as caller_total ,
    COALESCE ( callee_sum , 0) as callee_total , 
    ( caller_total + callee_total ) as total
from total_caller
left join  callee_sum
on total_caller.name = callee_sum.callee_sum
)

select name
from total_caller_callee
where callee_total >= 10
order by name ASC